{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href={% static "user/css/register.css" %}>

{% endblock style %}

{% block content %}
<h1>Войти</h1>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
      <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
              <div class="errorlist">
                  {% for error in field.errors %}
                      <p class="error">{{ error }}</p>
                  {% endfor %}
              </div>
          {% endif %}
      </div>
  {% endfor %}
  <button type="submit">Войти</button>
  <hr>
<p><a href="{% url 'social:begin' 'github' %}"><img src="/media/social-auth/github.png"></a></p>
</form>
{% endblock content %}