{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href= {% static "user/css/profile.css" %}>
{% endblock style %}
{% block content %}
    <div class="profile-container">
        <h1>Профиль пользователя</h1>
        <div class="profile-header">
            <img src="{{user.profile_image.url}}" alt="Аватар пользователя" class="profile-avatar">
            <h2>{{ user.username }}</h2>
            <ul>
                <li>
                    <p>Email: {{ user.email }}</p>
                </li>
                <li>
                    <p>Дата регистрации: {{ user.date_joined|date:"d M Y" }}</p>
                </li>
            </ul>
        </div>

        <div class="profile-stats">
            <h3>Дополнительная информация</h3>
            <ul>
                <li>Полное имя: {{ user_profile.get_full_name }}</li>
                <li>Последний вход: {{ user_profile.last_login|date:"d M Y H:i" }}</li>
            </ul>
        </div>
    </div>
{% endblock %}